<div class="unique-content">
  <h1>Competitors</h1>
  <br>
  
  <nav>
    <ul>
      <li><a class="nav-link" [routerLink]="['add']" routerLinkActive="router-link-active" >Add Competitor</a></li>
      <li><a class="nav-link" [routerLink]="['update']" routerLinkActive="router-link-active" >Update Competitor</a></li>
    </ul>
  </nav>

  <p class="lead">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
    At vero eos et accusam et justo duo dolores et ea rebum. 
  </p>

  <!-- Add button -->
  <div>
    <a class="nav-link" class="btn btn-primary" [routerLink]="['add']" routerLinkActive="router-link-active" >Add New Competitor</a>
  </div>
  <br>
  
  <ul>
    <li>Competitor 1</li>
    <li>Competitor 2</li>
  </ul>

  <router-outlet></router-outlet>

</div>
