<h2>This should work</h2>
<amplify-authenticator *ngIf="authState !== 'signedin'">
  <amplify-sign-in slot="sign-in"></amplify-sign-in>
</amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
  <!-- This is where you application template code goes --> 
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <!-- Title -->
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"><img src="../assets/img/logo.png" alt="olympic rings"> Sports Management System v.1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
        </li>

        <!-- Competitors and Games module -->
        <ng-container 
          *ngIf="hasAdminRights else showEventManagerMenu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['competitors']" routerLinkActive="active">Competitors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['games']" routerLinkActive="active">Games</a>
          </li>
        </ng-container>

        <!-- Events and Report module -->
        <ng-template #showEventManagerMenu>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['events']" routerLinkActive="active">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['reports']" routerLinkActive="active" >Reports</a>
          </li>
        </ng-template>
      </ul>
      
      <!-- Greetings -->
      <form class="form-inline my-2 my-lg-0">
        <div class="greeting">Hello, {{user.username}}</div>

        <!-- Sign out -->
        <amplify-sign-out></amplify-sign-out>
      </form>
    </div>
  </nav>
    
  <!-- Main -->
  <main role="main" class="container">
    <div class="starter-template">
      <router-outlet></router-outlet>
    </div>
  </main>
  
</div>
  